@model List<TheBookCave.Models.ViewModels.AuthorListViewModel>
@{
    ViewBag.Title = "Author";
}
<div class="detailsDiv">
    @foreach(var author in @Model)
    {
        <h1>@author.name</h1>
        <div id="image">
            <img src="@author.image" alt="Author">
        </div>
        <div class="details">
            <h4>About author: </h4>
            <p>Age: @author.age</p>
            <p>Born in: @author.countryOfBirth</p>
            
                <p>Description:</p>
                <p>@author.shortDescription</p>
            
        </div>
    }
</div>
