@model List<TheBookCave.Models.ViewModels.CartViewModel>

@{
    ViewBag.Title = "Cart";
}


<div id="cartView">
    @foreach(var cart in @Model)
    {
        <div class="itemInCart">
            <div id="book-img">
                <img src="@cart.book.image" alt="Book">
            </div>
            <span class="icon-input-btn trash"><span class="glyphicon glyphicon-trash"></span> <input type="submit" class="btn btn-default btn-lg trash" value="" name="@cart.book.id" id="trash"></span>
            <p><a asp-area="" asp-controller="Book" asp-action="Index" asp-route-id="@cart.book.id">@cart.book.title</a></p>
            <span><p>@cart.book.price ISK</p></span>
            
        </div>
    }
</div>
<div>
    <button id="reset">Empty cart</button> <button id="checkout" asp-area="" asp-controller="Cart" asp-action="CartCheckOut" >Checkout</button>   
</div>