@model List<TheBookCave.Models.ViewModels.BookListViewModel>
@{
    ViewBag.Title = "book";
}
<div class="detailsDiv">
    @foreach(var book in @Model)
    {
        <h1>@book.title</h1>
        <div id="image">
            <img src="@book.image" alt="Book">
        </div>
        <div class="details">
            <p>pages: @book.pages</p>
            <p>price: @book.price</p>
            <p>Description:</p>
            <p>@book.shortDescription</p>
        </div>
    }
</div>